compile.bat
*.csproj
*.user
*.userprefs
*.sln
*.suo
*.cache

[Oo]bj/
[Bb]in/
.vs/
OpenMetaverse.GUI/OpenMetaverse.GUI.XML
OpenMetaverse.StructuredData/OpenMetaverse.StructuredData.XML
OpenMetaverse.Utilities/OpenMetaverse.Utilities.XML
OpenMetaverse/OpenMetaverse.XML
OpenMetaverseTypes/OpenMetaverseTypes.XML
