using System;
using OpenMetaverse;
using OpenMetaverse.Packets;

namespace Simian
{
    public class ViewerEffectPrinter : ISimianExtension
    {
        Simian server;

        public ViewerEffectPrinter(Simian server)
        {
            this.server = server;
        }

        public void Start()
        {
            server.UDPServer.RegisterPacketCallback(PacketType.ViewerEffect, new UDPServer.PacketCallback(ViewerEffectHandler));
        }

        public void Stop()
        {
        }

        void ViewerEffectHandler(Packet packet, Agent agent)
        {
            Logger.Log("Received a ViewerEffect!", Helpers.LogLevel.Info);
        }
    }
}